<div class="box-height">
    <h1 class="home-h1">NIBRAS KHALID</h1>
    <div class="home-container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="images/About-img.jpg" class=" about-img img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="home-card card-body">
                        <h5 class="card-title">Programming Analyst</h5>
                        <p class="card-text">I’m currently studying Computer Programming and Analysis at Georgian College. Throughout my learning journey, I’ve worked on a variety of projects, from building basic websites to creating small games using Arduino. I enjoy the challenge of turning ideas into working projects, even if I’m still figuring things out as I go.</p>
                        <p class="card-text">Most of my work involves HTML, CSS, JavaScript, and Bootstrap on the front end. I’ve also used Python, C#, and PHP for backend tasks, and MySQL for databases. I’ve built tools like a budget tracker, a micro-site inspired by rotary phones, and a simple endless runner game in Tinkercad.</p>
                        <p class="card-text">This site is a place to share what I’ve built and what I’m learning. Thanks for visiting, and feel free to check out my projects or contact me if you’d like to connect.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>