<div class="box-height">
    <h1 class="home-h1">Programming Analyst</h1>
    <div class="home-container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="images/About-img.jpg" class=" about-img img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="home-card card-body">
                        <p class="card-text">I’m currently studying Computer Programming and Analysis at Georgian College, where I’ve explored everything from web development to Arduino projects. I enjoy learning through building, whether it’s a budgeting tool, a rotary phone-inspired website, or a simple game.</p>
                        <p class="card-text">I mainly work with HTML, CSS, JavaScript, and Bootstrap, and I’ve also used Python, C#, and MySQL for backend tasks. Outside of coding, I’ve helped out at school events like FOTC and the Henry Bernick Awards.</p>
                        <p class="card-text">This site is a glimpse into what I’ve worked on and where I’m headed. Thanks for visiting!</p>
                        <h3 class="mt-5">Skills</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Backend:</strong> Python, Java, MySQL, C++, C#, PHP</li>
                            <li class="list-group-item"><strong>Frontend:</strong> HTML, CSS, JS</li>
                            <li class="list-group-item"><strong>IDE:</strong> Visual Studio, Visual Studio Code, Android Studio, IntelliJ</li>
                            <li class="list-group-item"><strong>Version Control:</strong>Git, GitHub</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>