<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold mb-3">NIBRAS KHALID</h1>
                <p class="lead mb-4">I’m Nibras Khalid — a web developer in the making, passionate about creating things that live on the internet. Whether it's a sleek portfolio site, a simple budget tracker, or something completely experimental, I enjoy building projects that are functional and fun to use.</p>
                <p class="lead mb-4">I’m currently studying Computer Programming and constantly learning new technologies. This portfolio is a snapshot of my journey so far. Feel free to explore my work, learn more about me, or reach out if you'd like to connect.</p>
                <a href="/about" class="btn btn-light btn-lg me-2">About Me</a>
                <a href="/projects" class="btn btn-outline-light btn-lg">Projects</a>
            </div>
            <div class="col-lg-6 py-4">
                <img class="squared" src="/images/NibrasKhalid.jpg" alt="App Screenshot">
            </div>
        </div>
    </div>
</div>
