<h1 class="project-h1">MY PROJECTS</h1>
{{!-- <div class="project-container container text-center">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Telecomm.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">TELECOMM</h5>
                <p class="card-text">Creating a responsive and visually engaging platform for rotary dial phones by implementing dynamic content and ensuring cross-platform compatibility.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
            </ul>
            <div class="card-body">
                <a href="https://nibraskhalid.github.io/NibrasKhalid.github.io-Telecomm/" class="card-link">Website</a>
                <a href="https://github.com/NibrasKhalid/NibrasKhalid.github.io-Telecomm" class="card-link">Repo</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Budget-Tracker.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Budget Tracker</h5>
                <p class="card-text">To manage personal finances, using Excel files for adding entries, generating reports, and managing transactions</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Streamlit</li>
                <li class="list-group-item">Also made with ASP.NET</li>
            </ul>
            <div class="card-body">
                <a href="https://budget-tracker-web.streamlit.app/" class="card-link">Web App</a>
                <a href="https://github.com/NibrasKhalid/Budget-Tracker" class="card-link">GitHub</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Tinkercad.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">LCD Endless Runner game with three difficulty levels, Easy, Medium, and Hard where each level gets challenging with the increase of speed.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">C++</li>
                <li class="list-group-item">Arduino Tinkercad</li>
            </ul>
            <div class="card-body">
                <a href="https://www.tinkercad.com/things/gwRRH42Tkh1-endless-runner?sharecode=q4XNQw6R7jiyvvSUKGPNQWeIUIaY7iY8-ygXtczmE_s" class="card-link">Tinkercad</a>
            </div>
        </div>
    </div>
  </div>
</div> --}}
<div class="container py-5">
    <div class="row g-4">
        <!-- Service Card 1 -->
        <div class="col-md-4">
            <div class="service-card hover-lift">
                <div class="service-card-inner">
                    <div class="service-card-front">
                        <div class="service-card-front image-card">
                            <img src="/images/Telecomm-P.png" alt="Telecomm Project" class="project-img">
                        </div>
                    </div>
                    <div class="service-card-back">
                        <h4 class="mb-3">Telecomm (Micro-site)</h4>
                        <ul class="feature-list">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Responsive Design</li>
                        </ul>
                        <button class="btn btn-primary mt-4">Visit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Card 2 -->
        <div class="col-md-4">
            <div class="service-card hover-lift">
                <div class="service-card-inner">
                    <div class="service-card-front">
                        <div class="service-card-front image-card">
                            <img src="/images/Tinkercad.png" alt="Tinkercad Project" class="project-img">
                        </div>
                    </div>
                    <div class="service-card-back">
                        <h4 class="mb-3">Endless Runner (Arduino)</h4>
                        <ul class="feature-list">
                            <li>C++</li>
                            <li>Arduino Circuit</li>
                            <li>Tinkercad</li>
                        </ul>
                        <button class="btn btn-primary mt-4">Simulate</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Card 3 -->
        <div class="col-md-4">
            <div class="service-card hover-lift">
                <div class="service-card-inner">
                    <div class="service-card-front">
                        <div class="service-card-front image-card">
                            <img src="/images/Budget-Tracker.png" alt="Budget-Tracker Project" class="project-img">
                        </div>
                    </div>
                    <div class="service-card-back">
                        <h4 class="mb-3">Budget Tracker (Web App)</h4>
                        <ul class="feature-list">
                            <li>Python</li>
                            <li>Streamlit</li>
                            <li>Also made ASP.NET version</li>
                        </ul>
                        <button class="btn btn-primary mt-4">Visit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>