<!-- Hero -->
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3 hero" style="
    background-image: url('/images/masthead.jpg');
    background-size: cover;
    background-position: center;
    height: 91vh;
    position: relative;
">
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white w-100">
                <img class="logo-glow d-block mx-auto" src="/images/logo-tsp.png" alt="Logo" height="200">

                <p class="w-75 mx-auto text-center lh-base">
                    Not sure what to watch next? Stream helps you find the latest and greatest Series and Movies.
                    Browse trending titles, check ratings, and keep track of your favorites — all in one place!
                </p>

                <!-- Search -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="search-container d-flex align-items-center position-relative">
                                <form action="/search" method="GET" class="w-100">
                                    <div class="search-container d-flex align-items-center position-relative">
                                        <input type="text" name="q" class="form-control search-input"
                                            placeholder="Search..." required>
                                        <i
                                            class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Latest button centered -->
                <div class="mt-4 d-flex justify-content-center">
                    <a class="btn btn-outline-light btn-lg" href="./latest" role="button">Latest</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero -->

<!-- Hero -->